# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Data files
*.csv

# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Models
*.pkl
*.h5
*.pth
*.pt
*.ckpt
*.model

# Results and logs
*.json
*.log
